<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "header", header: @header %>

<div class="row iframe">
  <div class="small-12">
    <iframe src="https://klausbreyer.github.io/12062020-petitionen/"
            frameBorder="0"
            height="1200px"
            scrolling="no"
            width="100%"></iframe>
  </div>
</div>
